@{
    ViewData["Title"] = "Campus";
}
<h1>@ViewData["Title"]</h1>

<p>Buildings:</p>
<ul>
    <li>Colden Hall</li>
    <li>Valk Center</li>
    <li>Student Union</li>
    <li>Garrett strong</li>
</ul>
